
.contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
.contenedor2 {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    padding:10pt;
    width: 50%;
  }
}
.contenedor3 {
  display: flex;

  font-family: 'Lato', sans-serif;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  justify-content: space-between;
  padding-left: 30pt;
  padding-right: 30pt;

  li {
    display: inline;
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    color: black;
    padding: 10px;
  }
}
.contenedor4 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;

}
.contenedor5 {

}
.row1 {
  display: flex;
  justify-content: space-between;

}
.row2 {
  display: flex;
  justify-content: center;

}
.row3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.item {
  background-color: red;
  width: 50px;
  height:70px;
  align-items: center;
}
.item2 {
  background-color: yellow;
  width: 50px;
  height:100px;
  align-items: center;
}
.item3 {
  background-color: blue;
  width: 50px;
  height:70px;
  align-items: center;
}
.itemcenter {
  width: 300px;
  height: 100px;
  background-color: blue;
  object-fit: cover;
}
.boton-ej1 {
  background-color: #81F4E1;
  padding: 10pt;
  color: white;
  font-family: 'Lato', sans-serif;
}

.boton-ej2 {
  background-color: #56CBF9;
  padding: 10pt;
  color: white;
  font-family: 'Lato', sans-serif;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.boton-ej4 {
  display: grid;
  background-color: #FF729F;
  width: 120px;
  height: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  align-content: center;
}
